.container{
    color: blue;
    text-align: center;
    border: 3px solid yellow;
}
img{
    border: 3px solid yellow;
}
/* .head{
    color:darkgreen
}
.para{
    color: greenyellow;
}
#para1{
    color:lightsalmon;
} */